@mixin font($font-size, $line-height, $font-weight: 300, $font-style: normal) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-style: $font-style;
}

@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin breakpoint-1024 {
  @media (max-width: $breakpoint-1024) {
    @content;
  }
}

@mixin breakpoint-800 {
  @media (max-width: $breakpoint-800) {
    @content;
  }
}

@mixin breakpoint-600 {
  @media (max-width: $breakpoint-600) {
    @content;
  }
}
