$header-background: #2d3136;
$color-green: #58ad52;
$color-lightgreen: #deebde;
$color-gray: #4b596c;
$color-lightgray: #e9eef3;
$color-red: #be393b;
$color-text: #d7d7d7;
$color-darktext: #37414e;
$color-graytext: #6d737b;
$color-lightgraytext: #767582;
$color-white: #ffffff;
$color-icons: #656566;
$color-border: rgba(255, 255, 255, 0.52);
$color-active: rgba(190, 57, 59, 0.49);

$breakpoint-1024: 1024px;
$breakpoint-800: 800px;
$breakpoint-600: 600px;
