.content {
  display: flex;
  flex-direction: column;
  padding: 146px 0 139px 0;

  @include breakpoint-600 {
    align-items: center;
  }

  &__header {
    @include font(43px, 32px, 500);
    color: $color-darktext;
    margin: 0 0 213px 0;
    text-align: center;

    @include breakpoint-600 {
      @include font(32px, 25px, 500);
      width: 93%;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 70px;
    grid-column-gap: 70px;

    @include breakpoint-1024 {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint-800 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
  
    &-gray {
      background-color: $color-lightgray;
      color: $color-graytext;
    }

    &-green {
      background-color: $color-lightgreen;
      color: $color-green;
    }
  }
  &__heading {
    height: 91px;
    width: 100%;
    margin: 0;
    @include flex-center;
    @include font(34px, 42px, 500);

    &-gray {
      background-color: $color-gray;
      color: $color-white;
    }

    &-green {
      background-color: $color-green;
      color: $color-white;
    }
  }

  &__email {
    @include font(30px, 34px, 500);
    margin: 51px 0 0 0;
    max-width: 250px;
  }

  &__text {
    @include font(30px, 30px, 400);
    margin: 56px 0 0 0;
    color: $color-lightgraytext;
    max-width: 250px;
    text-align: center;
  }
}

// Переопределение стандартных стилей bootstrap
.card-body {
  padding: 0 0 125px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  max-width: 330px;
  min-height: 407px;
}